.git
.gitignore
.DS_Store
**/.DS_Store

.env
.venv/
__pycache__/
**/__pycache__/
*.pyc
.pytest_cache/

data/
notebooks/
*.ipynb

backup_python/
go/bin/

Dockerfile*
docker-compose*.yml
README.md
CHANGELOG.md
LICENSE
